<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>Accomidate Patient</title>
    <link rel="stylesheet" href="{% static 'base/add.css' %}">
</head>
<body>
    <h2>Accomidate Patient</h2>
    <form  method="POST">
        {% csrf_token %}

        
        <label for="">reason</label>
        <input type="text" id="reason" name="reason" required><br>

        <label for="" >Room Number: </label>
        <select id="room-list" name="room" style="margin-bottom: 20px;" required>
            <datalist id="room-list" name="room" style="margin-bottom: 20px;" required>
                    
                    {% for room in rooms  %}
                        <option value="{{ room }}">
                    {% endfor %}
                        
                </datalist><br>

        <input type="submit" value="Add Patient">
    </form>
</body>
</html>
